/* переменные */
:root {
  --txt-main-color: #757575;
  --txt-title-color: #212121;
  --txt-dark-bg-color: #ffffff;
  --bg-main-color: #ffffff;
  --bg-dark-color: #2f303a;
  --bg-gray-color: #f5f4fa;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --border-color: #eeeeee;
  --line-color: #ececec;
  --grid-item: 4;
}

/* сброс стилей */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1ps, 1px, 1px, 1px);
  clip: rect(1ps, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* глобальные стили */
body {
  background-color: var(--bg-main-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-main-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* логотип сайта */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

.page-header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}

/* стили кнопок */
.button {
  font-size: 16px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn-submit {
  padding: 10px 32px;
  background: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--txt-dark-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-submit:hover,
.btn-submit:focus {
  background: var(--second-accent-color);
}

.btn-filter {
  padding: 6px 22px;
  background: var(--bg-gray-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--txt-dark-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* header */
.page-header {
  min-height: 60px;
  border-bottom: 1px solid var(--line-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list,
.contact-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--txt-title-color);
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bg-dark-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* основной контент */
.title {
  font-weight: 700;
  color: var(--txt-title-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.pros-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--bg-dark-color);
}

.hero-container {
  width: 696px;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.about-item,
.portfolio-item {
  --grid-item: 3;
}

.pros-section {
  padding-bottom: 0px;
}

.team-section {
  background: var(--bg-gray-color);
}

.team-item {
  width: 270px;
  background: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding: 30px 24px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-member {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--txt-title-color);
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item {
  width: 370px;
}

.portfolio-desc {
  padding: 20px 24px;
  background: var(--bg-main-color);
  border: 1px solid var(--border-color);
  border-top: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* переопределение цветов */
.dark-bg .title,
.dark-bg .button,
.dark-bg .logo,
.dark-bg .post-address {
  color: var(--txt-dark-bg-color);
}

.dark-bg .address-item {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus,
.link.current {
  color: var(--accent-color);
}

.portfolio-item .link {
  color: inherit;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
