/* задание переменных */
:root {
  --txt-main-color: #757575;
  --txt-title-color: #212121;
  --txt-dark-bg-color: #ffffff;
  --txt-contact-color: rgba(255, 255, 255, 0.6);
  --bg-main-color: #ffffff;
  --bg-dark-color: #2f303a;
  --bg-light-color: #f5f4fa;
  --border-color: #eeeeee;
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
}

/* глобальные стили */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-main-color);
  background-color: var(--bg-main-color);
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1ps, 1px, 1px, 1px);
  clip: rect(1ps, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
}

/* интерактивные элементы */
.link {
  text-decoration: none;
  color: inherit;
}

.btn-submit {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--txt-dark-bg-color);
  text-align: center;
  cursor: pointer;
}

.btn-filter {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  background: var(--bg-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.btn-submit:hover,
.btn-submit:focus {
  background: var(--accent-btn-color);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--txt-dark-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* логотип сайта */
.site-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
  text-decoration: none;
}

.page-footer .site-logo {
  color: var(--txt-dark-bg-color);
}

.site-logo span {
  color: var(--accent-color);
}

/* навигация сайта */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--txt-title-color);
}

.contact {
  color: var(--txt-main-color);
}

.page-header .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-footer .contact {
  color: var(--txt-contact-color);
}

.address {
  color: var(--txt-dark-bg-color);
}

.page-header .link:hover,
.link:focus,
.page-footer .link:hover,
.link:focus,
.link.current {
  color: var(--accent-color);
}

/* основной контент */
.page-hero {
  background: var(--bg-dark-color);
}

.page-footer {
  background: var(--bg-dark-color);
}

.title {
  font-weight: 700;
  color: var(--txt-title-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.pros-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background: var(--bg-light-color);
}

.team-item {
  width: 270px;
  height: 368px;
  background: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--txt-title-color);
}

.team-desc {
  text-align: center;
}

.portfolio-item {
  width: 370px;
  height: 404px;
  background: var(--bg-main-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
